.input-date {
  width: 130px;
  height: 36px;
  padding: 8px 10px 8px 20px;
  background: #fbfbfb;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.2998 1.69995L6.6998 6.29995C6.5998 6.39995 6.49147 6.47062 6.3748 6.51195C6.25814 6.55395 6.13314 6.57495 5.9998 6.57495C5.86647 6.57495 5.74147 6.55395 5.6248 6.51195C5.50814 6.47062 5.3998 6.39995 5.2998 6.29995L0.699804 1.69995C0.516471 1.51662 0.424804 1.28328 0.424804 0.999951C0.424804 0.716618 0.516471 0.483285 0.699804 0.299952C0.883137 0.116618 1.11647 0.024951 1.3998 0.0249509C1.68314 0.0249509 1.91647 0.116618 2.0998 0.299951L5.9998 4.19995L9.8998 0.299951C10.0831 0.116618 10.3165 0.0249505 10.5998 0.0249505C10.8831 0.0249505 11.1165 0.116618 11.2998 0.299951C11.4831 0.483284 11.5748 0.716618 11.5748 0.999951C11.5748 1.28328 11.4831 1.51662 11.2998 1.69995Z' fill='%239C9C9C'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position-x: 100px;
  background-position-y: 13px;
  border: 1px solid #e0e0e0;
  border-radius: 10000px;
  color: #9c9c9c;
  cursor: pointer;
}
.react-datepicker-wrapper {
  width: fit-content;
  padding: 0 10px;
}
.react-datepicker {
  border-radius: 30px;
  border: none;
}
.react-datepicker__tab-loop {
  display: inline-block;
}
.react-datepicker__header {
  background-color: #ffffff;
  border-bottom: 1px solid #aeaeae;
  border-radius: 0px;
}
.react-datepicker__day-name {
  color: #9c9c9c;
}
.react-datepicker__day {
  color: #9c9c9c;
}

.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected {
  border-radius: 100px;
  background-color: #9c9c9c;
  color: #ffffff;
}
